<h1>Form</h1>

<%= form_with model: User.new do |form| %>
  <%= form.label :username%>:
  <%= form.text_field :username, placeholder: "Your user name here" %>
  <%= form.label :email %>:
  <%= form.email_field :email, placeholder: "Your email here" %>
  <%= form.label :password %>:
  <%= form.password_field :password, placeholder: "Your password here" %>
  <%= form.submit %>
<% end %>